<div class="row border mt-1 rounded p-3 ">
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="submitForm()" [formGroup]="formGroup">
      <div class="form-group">
        <small class="text-uppercase"><ins>Implement native google recaptcha</ins></small><br>
        <hr>
        <label class="h6 control-label text-uppercase font-weight-bold" for="email">Email address</label>
        <input type="email"
               [ngClass]="{ 'is-invalid': EMAIL_SUBMITTED && f.email.errors }"
               class="form-control"id="email" #email
               formControlName="email" autocomplete="off" autofocus
               placeholder="Enter email">
        <div *ngIf="EMAIL_SUBMITTED && f.email.errors" class="invalid-feedback">
          <span *ngIf="f.email.errors.required">Required field.</span>
          <span *ngIf="f.email.errors.email">Email invalid.</span>
        </div>
      </div>
      <div class="form-group card mt-3">
        <div class="card-body">
          <div #recaptcha></div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary col-md-12">Submit</button>
    </form>
  </div>
</div>

