<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-uppercase" href="#">google recaptcha</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login-npm']" [routerLinkActive]="['active']">Using ng-recaptcha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login-native']" [routerLinkActive]="['active']">Using native implement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login-invisible']" [routerLinkActive]="['active']">Using ng-recaptcha invisible</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
